{% extends "colaborator/base.html" %}
{% load static %}
{% load humanize %}

{% block styles %}
<link href="{% static '/css/colaborator.css' %}" rel="stylesheet">
{% endblock styles %}
{% block content %}
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Info</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">{{countNewOrders}} {% if countNewOrders == 1 %}Nueva orden!{% endif %}{% if countNewOrders is not 1 %}Nuevas ordenes!{% endif %}</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{% url 'colaborator:orders' %}?filter=news">
                <span class="float-left">Ver Detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-calendar-check"></i>
                </div>
                <div class="mr-5">{{countTodayOrders}} Ordenes hoy</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{% url 'colaborator:orders' %}?filter=today">
                <span class="float-left">Ver detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Historico de ordenes</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{% url 'colaborator:orders' %}">
                <span class="float-left">Ver detalles</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-handshake"></i>
                </div>
                <div class="mr-5">Mis servicios</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{% url 'colaborator:myservices' %}">
                <span class="float-left">Ver mis servicios</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Grafico de mis ganancias</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Actualizado {{time}}</div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Ordenes finalizadas para pago proximo martes</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Agendada</th>
                    <th>Fecha finalización</th>
                    <th>Precio</th>
                    <th>Tu ganancia</th>
                    <th>Servicio</th>
                    <th>Puntuación</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Agendada</th>
                    <th>Fecha finalización</th>
                    <th>Precio</th>
                    <th>Tu ganancia</th>
                    <th>Servicio</th>
                    <th>Puntuación</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for service in ordersThisWeek %}
                  <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.datetime_booking|date:"D d M Y" }}</td>
                    <td>{{ service.datetime_finally|date:"D d M Y" }}</td>
                    <td>$ {{ service.price|intcomma }}</td>
                    <td>$ {{ service.payColaborator|intcomma }}</td>
                    <td>{{ service.service.service.name }}</td>
                    <td>
                      <div class="rating">
                        <input type="radio" id="{{ service.id }}star5" name="rating{{ service.id }}" value="5" {% if service.score == 5 %}checked{% endif %}  disabled="disabled"/><label for="star5" title="Cinco estrellas">5 stars</label>
                        <input type="radio" id="{{ service.id }}star4" name="rating{{ service.id }}" value="4" {% if service.score == 4 %}checked{% endif %}  disabled="disabled"/><label for="star4" title="Cuatro estrellas">4 stars</label>
                        <input type="radio" id="{{ service.id }}star3" name="rating{{ service.id }}" value="3" {% if service.score == 3 %}checked{% endif %} disabled="disabled"/><label for="star3" title="Tres estrellas">3 stars</label>
                        <input type="radio" id="{{ service.id }}star2" name="rating{{ service.id }}" value="2" {% if service.score == 2 %}checked{% endif %} disabled="disabled"/><label for="star2" title="Dos estrellas">2 stars</label>
                        <input type="radio" id="{{ service.id }}star1" name="rating{{ service.id }}" value="1" {% if service.score == 1 %}checked{% endif %} disabled="disabled"/><label for="star1" title="Uno estrellas">1 star</label>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Actualizado {{time}}</div>
        </div>

      </div>
      <!-- /.container-fluid -->
{% endblock content %}

{% block scripts %}
<!-- Core plugin JavaScript-->
<script src="{% static '/js/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static '/js/chart.js/Chart.min.js' %}"></script>
<script src="{% static '/js/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static '/js/datatables/dataTables.bootstrap4.js' %}"></script>


<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin/sb-admin.min.js' %}"></script>
<script>
  var ejeX = []
  var ejeY = []
  var may = 0
  {% for gain in dataGraphic %}
    var val = {{ gain.1 }}
    ejeX.push("{{ gain.0|date:'D d M' }}")
    ejeY.push(val)
    if (may < val){
      may = val;
    }
  {% endfor %}
</script>
<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
{% endblock scripts %}