{% extends "base.html" %}
{% load static %}
{% block menu  %}
    {% include "partials/_menu_anonymous.html" %}
{% endblock menu %}
{% block content %}
    <!--::breadcrumb part start::-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h1>Bienvenido!!!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::breadcrumb part start::-->

    <!-- service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <img src="{% static 'img/about_icon.png' %}" alt="">
                        <h2>Proveemos los mejores servicios, con los  mejores proveedores</h2>
                        <p>Trabajamos en conjunto con proveedores responsables, y debidamente evaluados en sus capacidades para que tu mascota este en las mejores manos.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service_part">
                        <img src="{% static 'img/single_service_1.png' %}" alt="#">
                        <h3>Como si fuera nuestro</h3>
                        <p>Tratamos a tu mascota, como si fuese nuestra, todos somos una familia, la familia Dogenest.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service_part">
                        <img src="{% static 'img/single_service_2.png' %}" alt="#">
                        <h3>Mascotas felices</h3>
                        <p>Tenga plena tranquilidad que su mascota estara en las mejores manos.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service_part">
                        <img src="{% static 'img/single_service_3.png' %}" alt="#">
                        <h3>Responsabilidad y experiencia</h3>
                        <p>Tu tiempo y el de nuestros colaboradores es importante, por ello siempre cumpliremos con nuestros horarios y responsabilidades, y agradecemos tu ayuda a formar esta  comunidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service part end-->
    
    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="client_review_content owl-carousel">
                        <div class="singke_client_review">
                            <img src="{% static 'img/review_img_1.png' %}" alt="#">
                            <h4>Siempre con cumplimiento y calidad, mi mascota es feliz</h4>
                            <p>- Richard Gonzalez</p>
                        </div>
                        <div class="singke_client_review">
                            <img src="{% static 'img/review_img_1.png' %}" alt="#">
                            <h4>He llevado mis 3 mascotas desde cachorros y siempre han estado muy bien cuidados.</h4>
                            <p>- Julian Garninca</p>
                        </div>
                        <div class="singke_client_review">
                            <img src="{% static 'img/review_img_1.png' %}" alt="#">
                            <h4>Mi gato es muy feliz cuando los visita, su pelaje esta muy bien cuidado. Mil gracias!!!</h4>
                            <p>- Jonathan Mora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->

    <!-- counter adopt number here -->
    <section class="abopt_number_counter section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 col-md-6">
                    <div class="counter_text">
                        <h2>Trabajamos para ti </h2>
                        <p>Estos son algunos de nuestros numeros.</p>
                        <div class="counter_number">
                            <div class="single_counter_number">
                                <img src="{% static 'img/adopt_icon_1.png' %}" alt="#">
                                 <h3><span class="count">590</span>+</h3>
                                <p>Mascotas registradas</p>
                            </div>
                            <div class="single_counter_number">
                                <img src="{% static 'img/adopt_icon_2.png' %}" alt="#">
                                <h3><span class="count">300</span>+</h3>
                                <p>Clientes felices</p>
                            </div>
                        </div>
                        <a href="{% url 'authenticate:login' %}" class="btn_1">Login</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="adopt_image">
                        <img src="{% static 'img/adopt_img.png' %}" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- counter adopt number end -->
{% endblock content %}